.drink_photo{
    width: 400px;
    border-radius: 50px;
    padding: 10px;
}
.wrapper{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.title{
    font-size: 20px;
    width: 300px;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    background-color: indianred;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.button{
    background-color: black;
    color: wheat;
    border-radius: 10px;
    padding: 5px 3px;
    cursor: pointer;
}
.wrapper_login{
    display: flex;
    justify-content: center;
    align-items: center;
}